ul.people {
            list-style: none;
            padding: 0;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid #1f1f1f;
            border-left: 1px solid #1f1f1f;
            .person {
                position: relative;
                width: 100%;

                padding: 12px 5% 16px;
                cursor: pointer;
                background-color: #1f1f1f;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 90%;
                    height: 1px;
                    content: '';
                    background-color: #595959;
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
																				object-fit: cover;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--light);
                    @include font-bold;
                }
                .time {
                    font-size: 14px;
                    position: absolute;
                    top: 16px;
                    right: 5%;
                    padding: 0 0 5px 5px;
                    color: #8a8a8a;
                    background-color: #1f1f1f;
                }
                .preview {
                    font-size: 14px;
                    display: flex;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #ababab;
                    align-items: center;
                }
                &.active,&:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: #313131;
                    width: calc(100% + 2px);
                    padding-left: calc(5% + 1px);
                    span {
                        color: #d5d5d5;
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }