.card {
    background-color: #333333;
    width: 40%;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
}

.top-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #d9d9d9;
    position: relative;
    top: 8px;
}

.mail {
    font-size: 14px;
    color: #afafaf;
    position: relative;
    top: 2px;
}

.middle-container {
    background-color: #000000;
    border-radius: 12px;

}

.middle-container:hover {
    border: 1px solid #ffffff;
}

.dollar-div {
    background-color: #545454;
    padding: 12px;
    border-radius: 10px;
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dollar {
    font-size: 16px !important;
    color: #1c9963 !important;
    font-weight: bold !important;
}


.current-balance {
    font-size: 15px;
    color: #d9d9d9;
    font-weight: bold;
}

.amount {
    color: #c2c2c2;
    font-size: 16px;
    font-weight: bold;
}

.dollar-sign {
    font-size: 16px;
    color: #eeeeee;
    font-weight: bold;
}

.recent-border {
    border-left: 2px solid #5957f9;
    display: flex;
    flex-direction: column;
}

.recent-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

.recent-orders {
    font-size: 16px;
    font-weight: 500;
    color: #5957f9;
    margin-left: 2px;
}

.wishlist {
    font-size: 16px;
    font-weight: 700;
    color: #d9d9d9;

}

.wishlist-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

.fashion-studio {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
}

.fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
}

@media only screen and (max-width: 767px) {
    .card {
        background-color: #333333;
        width: 100%;
        border-radius: 33px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1rem !important;
    }

    .container {
        max-width: 100%;
    }
}