{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'contact/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'contact/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'contact/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'chat/css/base_style.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'chat/css/preloader_style.css' %}">

    <title>Vocalhost Chat</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <style>
        .author-thumb {
            width: 35px;
            height: 35px;
            border-radius: 40%;
            background-color: #FFFFFF;
            padding: 1px;
        }

        .headers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
        }

        .icon-middle {
            font-size: 30px;
            color: #dcdcdc;
            margin-right: 10px;
        }
    </style>
</head>

<body style="padding: unset;">
<div class="container" style="padding: unset;" id="chat_container">
    <div class="row">
        <div id="left_bar" class="col-lg-3 col-md-3 col-sm-3 left_bar">
            <div class="headers">
                <!-- Icon on the left -->
                <a href="{% url 'chat_profile' request.user.username %}" id="user_content"
                   class="icon-container">
                    {% if request.user.userprofile.image %}
                        <img class="author-thumb" src="{{ request.user.userprofile.image.url }}"
                             alt="Profile picture">
                    {% else %}
                        <img class="author-thumb" src="{% static 'img/user.png' %}" alt="Profile picture">
                    {% endif %}
                </a>

                <!-- Icon in the middle -->
                <i class="icon-middle">V</i>

                <!-- Icon in the middle -->
                <a href="{% url 'add_chat' %}" class="icon-container">
                    <!-- FontAwesome chat icon -->
                    <i class="fas fa-plus-square icon-middle"></i>
                    <!-- Bootstrap badge -->
                    {% if received_requests > 0 %}
                        <span id="request_badge" class="badge badge-danger"
                              style="position: absolute; top: 5px; right: 10px; border-radius: 50%; background-color: #009dff; elevation: below;">{{ received_requests }}</span>
                    {% else %}
                        <span id="request_badge" class="badge badge-danger"
                              style="position: absolute; top: 5px; right: 10px; border-radius: 50%; background-color: #009dff; elevation: below; display: none;">{{ received_requests }}</span>
                    {% endif %}
                </a>
            </div>

            <hr style="background-color: #464646; margin-top: 15px; height: 1px;">

            <div id="preloader_left" style="height: 75%; display: flex; justify-content: center; align-items: center;">
                <div>
                    <div class="reverse-spinner"></div>
                </div>
            </div>
            <div style="height: 100%; overflow-y: auto;">
                <ul class="people" style="display: none;">
                    {% for user in users %}
                        <li onclick="load_chat_room('{% url 'load_chat_room' user.room %}')"
                            class="person context-menu-trigger"
                            data-chat="{{ user.user.username }}" data-room="{{ user.room }}">
                            {% if user.user.userprofile.image %}
                                {% if user.user.userprofile.image.url %}
                                    <img id="users_profile_pic" class="users_profile_pic"
                                         src="{{ user.user.userprofile.image.url }}" alt="Profile picture"/>
                                {% else %}
                                    <img id="users_profile_pic" class="users_profile_pic"
                                         src="{% static 'img/user.png' %}"
                                         alt="Profile picture"/>
                                {% endif %}
                            {% else %}
                                <img id="users_profile_pic" class="users_profile_pic" src="{% static 'img/user.png' %}"
                                     alt="Profile picture"/>
                            {% endif %}
                            {% if user.user.get_full_name %}
                                <span class="name">{{ user.user.get_full_name }}</span>
                            {% else %}
                                <span class="name">{{ user.user.username }}</span>
                            {% endif %}
                            {% if user.last_message %}
                                {% if user.new %}
                                    <span style="color: #ffffff" class="time"
                                          data-timestamp="{{ user.last_message_timestamp }}"></span>
                                    {% if user.status == 0 %}
                                        <!--- STATUS OPENED --->
                                        <span class="preview" style="color: #ffffff;">
                                    <img class="status_icon" id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_seen_outline.svg' %}" alt="Icon">
                                        Opened
                                    </span>
                                    {% elif user.status == 2 %}
                                        <!--- STATUS DELIVERED --->
                                        <span class="preview" style="color: #ffffff;">
                                    <img class="status_icon" id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_delivered.svg' %}" alt="Icon">
                                        Delivered
                                    </span>
                                    {% else %}
                                        <!--- STATUS RECEIVED --->
                                        <span class="preview" style="color: #ffffff;">
                                    <img class="status_icon" id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_received.svg' %}" alt="Icon">
                                        Received
                                    </span>
                                    {% endif %}
                                {% else %}
                                    <span class="time" data-timestamp="{{ user.last_message_timestamp }}"></span>
                                    {% if user.status == 0 %}
                                        <!--- STATUS OPENED --->
                                        <span class="preview" style="display: flex; align-items: center">
                                    <img class="status_icon" id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_seen_outline.svg' %}" alt="Icon">
                                        Opened
                                    </span>
                                    {% elif user.status == 2 %}
                                        <!--- STATUS DELIVERED --->
                                        <span class="preview" style="display: flex; align-items: center">
                                    <img class="status_icon " id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_delivered.svg' %}" alt="Icon">
                                        Delivered
                                    </span>
                                    {% else %}
                                        <!--- STATUS RECEIVED --->
                                        <span class="preview" style="display: flex; align-items: center">
                                    <img class="status_icon" id="status_icon"
                                         style="margin-right: 5px; height: 25px; width: 25px;"
                                         src="{% static 'img/status_received_outline.svg' %}" alt="Icon">
                                        Received
                                    </span>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <span class="time" data-timestamp=""></span>
                                <span class="preview">
                                <img class="status_icon" id="status_icon"
                                     style="margin-right: 5px; height: 25px; width: 25px;"
                                     src="{% static 'img/status_received_outline.svg' %}" alt="Icon">
                                Tap to chat</span>
                            {% endif %}
                        </li>
                    {% empty %}
                        <div class="d-flex justify-content-center">
                            <h6 style="color:#fff; margin-top: 20px;">No chats available</h6>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9 ml-auto chat_parent_holder" id="chat_parent_container" style="height: 100vh;">
            <div style="display: none; flex-direction: column; justify-content: center; align-items: center; height: 90vh;"
                 id="preloader">
                <div class="reverse-spinner"></div>
            </div>
            <div class="container_image" id="container_image">
                <img src="{% static 'img/img.png' %}" alt="Image" style="width: 75%; margin-top: 5%;">
                <div id="feature_message" class="top"
                     style="display: flex; align-items: center; justify-content: center; position: absolute; top: 10px; width: 100%;"></div>
                <div class="bottom-left">Your messages are end-to-end encrypted,<br>ensuring no one, not even ReiserX,
                    can read them.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contextMenu_profile" class="context-menu">
    <div id="save_text" class="context-menu-item" onclick="handleContextMenu_profile('about')">
        <i class="fa fa-save"></i> Profile
    </div>
    <div class="context-menu-item" onclick="handleContextMenu_profile('clear_chat')">
        <i class="fa fa-comment"></i> Clear chat
    </div>
    <div id="delete_message_context" class="context-menu-item" onclick="handleContextMenu_profile('remove')">
        <i class="fa fa-trash"></i> Remove friend
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="https://cdn.jsdelivr.net/npm/msgpack-lite@0.1.26/dist/msgpack.min.js"></script>

<!-- VARIABLE DEFINITION -->
<script>
    const userUsername = "{{ request.user.username }}";
    const protocol = '{{ protocol }}';
    const _356 = '{{ abcf }}';
    const storeMessage = {{ storeMessage|yesno:"true,false" }};
    const icon_seen = '{% static 'img/status_seen_outline.svg' %}'
    const icon_delivered = '{% static 'img/status_delivered.svg' %}'
    const icon_received = '{% static 'img/status_received_outline.svg' %}'
    const icon_received_fill = '{% static 'img/status_received.svg' %}'
    const token_status = {{ token_status|yesno:"true,false" }};
    const default_user_icon = "{% static 'img/user.png' %}";
    {% if private_key %}
        const key = JSON.parse('{{ private_key }}');
    {% else %}
        const key = null;
    {% endif %}
    {% if device_keys %}
        let device_public_keys = {{ device_keys }}
    {% endif %}
</script>
<!-- VARIABLE DEFINITION -->

<!-- CUSTOM FILES -->
<script src="{% static 'chat/js/main.js' %}"></script>
<script src="{% static 'chat/js/ratchet-v'|add:ASSET_VERSION_RATCHET|add:'.js' %}?v=1"></script>
<script src="{% static 'chat/js/base_main-v'|add:ASSET_VERSION|add:'.js' %}?v=2"></script>

<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
<script src="{% static 'chat/js/fcm_main.js' %}"></script>

<script>
    function showLoader() {
        document.getElementById('preloader_left').style.display = 'flex';
    }

    function hideLoaderAndDisplayContent() {
        document.getElementById('preloader_left').remove();
        document.querySelector('.people').style.display = 'block';
    }

    function simulateRequest() {
        showLoader();

        setTimeout(function () {
            hideLoaderAndDisplayContent();
        }, 1000);
    }

    simulateRequest();
</script>
<!-- CUSTOM FILES -->

<script>
    let badge = document.getElementById('request_badge');
    Pusher.logToConsole = false;

    var pusher = new Pusher('{{ pusher }}', {
        cluster: 'ap2'
    });

    var channel = pusher.subscribe(`${userUsername}-channel`);
    channel.bind(`${userUsername}-new-message`, function (data) {
        if (data.type === 'message_status_background') {
            update_message_status(STATUS_SEEN, data.sender_username);
        } else if (data.type === 'new_message_background') {
            handleNewMessage(data.sender_username, data.timestamp);
        } else if (data.type === 'friend_request_accepted') {
            let n = parseInt(badge.innerText, 10);
            badge.innerText = `${--n}`;
        } else if (data.type === 'friend_request_added') {
            if (badge.innerText === '0') {
                badge.innerText = '1';
                badge.style.display = 'block';
            } else {
                let n = parseInt(badge.innerText, 10);
                badge.innerText = `${++n}`;
            }
        }
    });
</script>

</body>
</html>