{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'contact/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'contact/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'contact/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/base_style.css' %}">

    <title>Add chat</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
</head>
<body style="padding: 0px;">

<div class="container" style="padding: unset;" id="chat_container">
    <div class="row">
        <div id="left_bar" class="col-lg-3 col-md-3 col-sm-3 left_bar">
            <ul class="people">
                {% for user in users %}
                    <li class="person" onclick="addPerson('{{ user.user.username }}')" data-chat={{ user.user.username }}>
                        {% if user.user.userprofile.image %}
                            <img id="users_profile_pic" class="users_profile_pic"
                                 src="{{ user.user.userprofile.image.url }}" alt="Profile picture"/>
                        {% else %}
                            <img id="users_profile_pic" class="users_profile_pic" src="{% static 'img/user.png' %}"
                                 alt="Profile picture"/>
                        {% endif %}
                        {% if user.user.get_full_name %}
                            <span class="name">{{ user.user.get_full_name }}</span>
                        {% else %}
                            <span class="name">{{ user.user.username }}</span>
                        {% endif %}
                        <span class="preview">Tap to chat</span>
                    </li>
                    {% empty %}
                    <div class="row justify-content-center">
                    <h5 style="color:#fff;">No users available</h5>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 ml-auto chat_parent_holder" id="chat_parent_container" style="height: 100vh;">
            <div class="container_image" id="container_image">
                <img src="{% static 'img/img.png' %}" alt="Image" style="width: 75%; margin-top: 5%;">
                <div class="top-left">Welcome aliens</div>
                <div class="top-right">ReiserX</div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function addPerson(username) {
        $.ajax({
            type: 'POST',
            url: '{% url "add_chat" %}',
            data: JSON.stringify({
                'username': username
            }),
            contentType: 'application/json',
            success: function (data) {
                console.log(data)
                if (data.success) {
                    // Set a flag in local storage indicating that the page needs to be refreshed
                    sessionStorage.setItem('return_from_add_person', 'true');
                    history.back();
                } else {

                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>
</body>
</html>