{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'contact/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'contact/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'contact/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/base_style.css' %}">

    <title>Add chat</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <style>
        .person {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .add-friend-container {
            margin-left: auto;
        }

        .add-friend-icon {
            background-color: #3f3f3f;
            color: #e7e7e7;
            border: none;
            border-radius: 12px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body style="padding: 0px;">

<div class="container" style="padding: unset;" id="chat_container">
    <div class="row">
        <div id="left_bar" class="col-lg-3 col-md-3 col-sm-3 left_bar">
            <ul class="people" id="request_list">
                {% for user in requests %}
                    <li class="person" data-chat={{ user.username }}>
                        <a href="{% url 'chat_profile' user.username %}">
                            {% if user.userprofile.image %}
                                <img id="users_profile_pic" class="users_profile_pic"
                                     src="{{ user.userprofile.image.url }}" alt="Profile picture"/>
                            {% else %}
                                <img id="users_profile_pic" class="users_profile_pic" src="{% static 'img/user.png' %}"
                                     alt="Profile picture"/>
                            {% endif %}
                            <div style="display: flex; flex-direction: column; margin-left: 10px;">
                                <!-- Adjust margin as needed -->
                                {% if user.get_full_name %}
                                    <span class="name">{{ user.get_full_name }}</span>
                                {% else %}
                                    <span class="name">{{ user.username }}</span>
                                {% endif %}
                                <span class="preview" style="width: 100%;">{{ user.username }}</span>
                            </div>
                        </a>
                        <div class="add-friend-container">
                            <button class="add-friend-icon" onclick="acceptRequest('{{ user.username }}')">Accept
                            </button>
                        </div>
                    </li>
                {% empty %}
                    <div class="row justify-content-center">
                        <h6 style="color:#fff; margin-top: 20px;">No requests available</h6>
                    </div>
                {% endfor %}
            </ul>
            <br>
            <ul class="people" id="user_list">
                {% for user in users %}
                    <li class="person" data-chat="{{ user.user.username }}" data-status="{{ user.status }}">
                        <a href="{% url 'chat_profile' user.user.username %}">
                            {% if user.user.userprofile.image %}
                                <img id="users_profile_pic" class="users_profile_pic"
                                     src="{{ user.user.userprofile.image.url }}" alt="Profile picture"/>
                            {% else %}
                                <img id="users_profile_pic" class="users_profile_pic" src="{% static 'img/user.png' %}"
                                     alt="Profile picture"/>
                            {% endif %}
                            <div style="display: flex; flex-direction: column; margin-left: 10px;">
                                <!-- Adjust margin as needed -->
                                {% if user.user.get_full_name %}
                                    <span class="name">{{ user.user.get_full_name }}</span>
                                {% else %}
                                    <span class="name">{{ user.user.username }}</span>
                                {% endif %}
                                <span class="preview" style="width: 100%;">{{ user.user.username }}</span>
                            </div>
                        </a>
                        {% if user.status %}
                            <div class="add-friend-container">
                                <button class="add-friend-icon" onclick="addFriend('{{ user.user.username }}')">Added
                                </button>
                            </div>
                        {% else %}
                            <div class="add-friend-container">
                                <button class="add-friend-icon" onclick="addFriend('{{ user.user.username }}')">Add
                                </button>
                            </div>
                        {% endif %}
                    </li>
                {% empty %}
                    <div class="row justify-content-center">
                        <h5 style="color:#fff;">No users available</h5>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 ml-auto chat_parent_holder" id="chat_parent_container" style="height: 100vh;">
            <div class="container_image" id="container_image">
                <img src="{% static 'img/img.png' %}" alt="Image" style="width: 75%; margin-top: 5%;">
                <div class="top-left">Welcome aliens</div>
                <div class="top-right">ReiserX</div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

<script>
    // Function to get the value of a cookie by its name
function getCookie(name) {
    const cookies = document.cookie.split(';');
    for (const cookie of cookies) {
        const [cookieName, cookieValue] = cookie.trim().split('=');
        if (cookieName === name) {
            return decodeURIComponent(cookieValue);
        }
    }
    return null;
}


    function addFriend(username) {
        let user_list = document.getElementById('user_list');
        var personElement = user_list.querySelector(`[data-chat='${username}']`);
        var buttonElement = personElement.querySelector('.add-friend-icon');

        var statusAttribute = personElement.getAttribute('data-status');
        var status = statusAttribute === 'True';

        $.ajax({
            type: 'POST',
            url: '{% url "send_friend_request" %}',
            data: {'username': username, 'send_request': status, 'device_id': getCookie('device_id')},
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    if (response.request_status) {
                        buttonElement.innerText = 'Added';
                        personElement.setAttribute('data-status', 'True');
                        saveKeys(username, response.private_keys.ik_private_key, response.private_keys.ek_private_key, response.private_keys.dhratchet_private_key);
                    } else {
                        buttonElement.innerText = 'Add';
                        personElement.setAttribute('data-status', 'False');
                        removeKeys(username);
                    }
                } else {
                    alert(response.error)
                }
            },
            error: function (response) {
                // Handle errors, e.g., show an error message
                alert(response.responseJSON.message);
            }
        });
    }

    function acceptRequest(username) {
        let user_list = document.getElementById('request_list');
        var personElement = user_list.querySelector(`[data-chat='${username}']`);
        var buttonElement = personElement.querySelector('.add-friend-icon');

        $.ajax({
            type: 'POST',
            url: '{% url "accept_friend_request" %}',  // Update the URL based on your project's URL structure
            data: {'username': username, 'device_id': getCookie('device_id')},
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    buttonElement.innerText = 'Accepted'
                    buttonElement.removeAttribute('onclick')
                    sessionStorage.setItem('return_from_add_person', 'true');
                    saveKeys_receiver(username, response.private_keys.ik_private_key, response.private_keys.spk_private_key, response.private_keys.opk_private_key , response.private_keys.dhratchet_private_key);
                } else {
                    alert(response.error);
                }
            },
            error: function (response) {
                // Handle errors, e.g., show an error message
                alert(response.responseJSON.message);
            }
        });
    }

    function saveKeys(username, ik_private_key, ek_private_key, dhratchet_private_key) {
        let roomData = JSON.parse(localStorage.getItem(username));

        if (!roomData) {
            roomData = {};
        }
        
        roomData.type = 'sender';

        roomData.private_keys = {
            ikPrivateKeyData: ik_private_key,
            ekPrivateKeyData: ek_private_key,
            dhratchet_key: dhratchet_private_key
        };

        localStorage.setItem(username, JSON.stringify(roomData));
    }
    
    function saveKeys_receiver(username, ik_private_key, spk_private_key, opk_private_key, dhratchet_key) {

        let roomData = JSON.parse(localStorage.getItem(username));

        if (!roomData) {
            roomData = {};
        }
        
        roomData.type = 'receiver';

        roomData.private_keys = {
            ikPrivateKey: ik_private_key,
            spkPrivateKey: spk_private_key,
            opkPrivateKey: opk_private_key,
            dhratchet_key: dhratchet_key
        };

        localStorage.setItem(username, JSON.stringify(roomData));
    }
    
    async function importKeys(username) {
    let roomData = JSON.parse(localStorage.getItem(username));

    if (roomData && roomData.private_keys) {
        let ikPrivateKeyJwk = roomData.private_keys.ikPrivateKeyData;
        let ekPrivateKeyJwk = roomData.private_keys.ekPrivateKeyData;
        
        console.log(ikPrivateKeyJwk);
        
let importedIkPrivateKey = await crypto.subtle.importKey(
    'jwk',
    JSON.parse(ikPrivateKeyJwk),
    {name: 'ECDH', namedCurve: 'P-256'},
    true,
    ['deriveKey']
);
let importedEkPrivateKey = await crypto.subtle.importKey(
    'jwk',
    JSON.parse(ekPrivateKeyJwk),
    {name: 'ECDH', namedCurve: 'P-256'},
    true,
    ['deriveKey']
);

console.log(importedIkPrivateKey);
    } else {
        console.log('No keys found for this username');
        return null;
    }
}

    function removeKeys(username) {
    let roomData = JSON.parse(localStorage.getItem(username));

    if (roomData && roomData.private_keys) {
        delete roomData.private_keys;

        // If there's no other data for the room, remove the room data entirely
        if (Object.keys(roomData).length === 0) {
            localStorage.removeItem(username);
        } else {
            // Otherwise, save the updated room data back to local storage
            localStorage.setItem(username, JSON.stringify(roomData));
        }
    }
}

function base64StringToArrayBuffer(base64) {
    let binaryString = window.atob(base64);
    let len = binaryString.length;
    let bytes = new Uint8Array(len);
    for (let i = 0; i < len; i++) {
        bytes[i] = binaryString.charCodeAt(i);
    }
    return bytes.buffer;
}

function pemToJwk(pemKey) {
    // Convert PEM to DER
    const derKey = forge.pem.decode(pemKey)[0].body;

    // Parse DER to get private key
    const privateKey = forge.asn1.fromDer(derKey);
    const privateKeyInfo = forge.pki.privateKeyInfoFromAsn1(privateKey);
    const key = forge.pki.privateKeyFromAsn1(privateKeyInfo);

    // Convert private key to JWK
    const jwk = {
        kty: 'EC',
        crv: 'P-256',
        d: forge.util.bytesToHex(key.privateKey.asBytes()),
        x: forge.util.bytesToHex(key.publicKey.point.x.toBytes()),
        y: forge.util.bytesToHex(key.publicKey.point.y.toBytes()),
    };

    return jwk;
}
</script>

<script>
    Pusher.logToConsole = false;

    var pusher = new Pusher('{{ pusher }}', {
        cluster: 'ap2'
    });
    let userUsername = '{{ request.user.username }}'
    var channel = pusher.subscribe(`${userUsername}-channel`);
    channel.bind(`${userUsername}-new-message`, function (data) {
        let user_list = document.getElementById('user_list');
        let request_list = document.getElementById('request_list');
        if (data.type === 'friend_request_accepted') {
            let personElement = user_list.querySelector(`[data-chat='${data.username}']`);
            if (personElement) {
                personElement.remove();
            }
        } else if (data.type === 'friend_request_added') {
            let personElement = user_list.querySelector(`[data-chat='${data.username}']`);
            if (personElement) {
                var buttonElement = personElement.querySelector('.add-friend-icon');
                buttonElement.onclick = function () {
                    acceptRequest(data.username);
                }
                buttonElement.innerText = 'Accept';
                request_list.insertBefore(personElement, request_list.firstChild);
            }
        }
    });
</script>
</body>
</html>