{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/profile_styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/preloader_style.css' %}">

    <title>Profile - {{ username }}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <style>
        #imageInput {
            display: none;
        }

        #selectedImage {
            display: none;
            max-width: 50%;
            max-height: 50%;
        }

        #image_input_label {
            background: #FFFFFF;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }

        #input_name:focus {
            background-color: #3d3d3d;
            color: #ececec;
        }

        /* Container styles for centering */
        .container_load {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .content {
            display: none;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-friend-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .add-friend-icon {
            background-color: #3f3f3f;
            color: #e7e7e7;
            border: none;
            border-radius: 12px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 100%;
            max-width: 300px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="container_load preloader justify-content-center" id="preloader">
    <!-- REVERSE SPINNER -->
    <div style="margin-top: -10%;">
        <div class="reverse-spinner"></div>
    </div>
</div>

<div class="container content justify-content-center mt-5" id="content">
    <div class="container">
        <div class="card">
            <div class="top-container">
                {% if request.user.username == username %}
                    {% if profile_pic %}
                        <img id="profile_pic" data-toggle="modal" data-target="#exampleModalCenter"
                             src="{{ profile_pic }}"
                             class="img-fluid profile-image" width="70" alt="Profile picture">

                    {% else %}
                        <img id="profile_pic" data-toggle="modal" data-target="#exampleModalCenter"
                             src="{% static 'img/user.png' %}"
                             class="img-fluid profile-image" width="70" alt="Profile picture">
                    {% endif %}
                {% else %}
                    {% if profile_pic %}
                        <img id="profile_pic" src="{{ profile_pic }}"
                             class="img-fluid profile-image" width="70" alt="Profile picture">

                    {% else %}
                        <img id="profile_pic" src="{% static 'img/user.png' %}"
                             class="img-fluid profile-image" width="70" alt="Profile picture">
                    {% endif %}
                {% endif %}
                <div class="ml-3">
                    <div class="d-flex justify-content-between align-items-center">
                        {% if fullname %}
                            <h5 id="fullname" class="name">{{ fullname }}</h5>
                        {% else %}
                            <h5 id="fullname" class="name">Not available</h5>
                        {% endif %}
                        {% if username == request.user.username %}
                            <span data-toggle="modal" data-target="#edit_profile_modal"
                                  style="cursor: pointer; margin-left: 8px; margin-top: 5px;" href="">
                        <i style="font-size: 14px; color: #FFFFFF" class="fas fa-pen"></i>
                    </span>
                        {% endif %}
                    </div>
                    <p class="mail">{{ username }}</p>
                </div>
            </div>
            <div class="add-friend-container">
                {% if status == 0 %}
                    <button class="add-friend-icon" data-status="False"
                            onclick="addFriend('{{ username }}')">Add
                    </button>
                {% elif status == 1 %}
                    <button class="add-friend-icon" data-status="True"
                            onclick="addFriend('{{ username }}')">Added
                    </button>
                {% elif status == 2 %}
                    <button class="add-friend-icon"
                            onclick="acceptRequest('{{ username }}')">Accept
                    </button>
                {% else %}
                    <button class="add-friend-icon" style="display: none;"
                            onclick="addFriend('{{ username }}')" data-status="False">Accept
                    </button>
                {% endif %}
            </div>

            <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
                <div class="dollar-div px-3">

                    <div class="round-div"><i class="fa fa-comment dollar"></i></div>

                </div>
                <div class="d-flex flex-column text-right mr-2">
                    <span class="current-balance">Messages</span>
                    <span class="amount"><span class="dollar-sign"></span>{{ message_count }}</span>
                </div>

            </div>
            <div class="wishlist-border mt-4">
                <span class="wishlist">Saved messages</span>
            </div>
            <div id="snap_ui_holder">
                <snap-ui style="flex-grow: 1;">
                    {% for message in messages %}
                        {% if message.get_sender_username == username %}
                            <snap-message from="{{ message.get_sender_username }}">{{ message.message }}</snap-message>
                        {% else %}
                            <snap-message>{{ message.message }}</snap-message>
                        {% endif %}
                    {% empty %}
                        <snap-notice>No messages</snap-notice>
                    {% endfor %}
                </snap-ui>
            </div>
            {% if request.user.username != username %}
                <a onclick="clear_chat('{{ username }}')" class="wishlist-border pt-2">
                    <span class="wishlist">Clear chat</span>
                </a>
                <a onclick="generate_ratchet_keys('{{ username }}')" class="wishlist-border pt-2">
                    <span class="wishlist">Reset encryption keys</span>
                </a>
                <a onclick="remove_chat('{{ username }}')" class="wishlist-border pt-2">
                    <span class="wishlist">Remove friend</span>
                </a>
            {% else %}
                <a class="wishlist-border pt-2">
                    <span class="wishlist">Save message</span>
                    <div class="custom-control custom-checkbox d-flex justify-content-between align-items-center">
                        <input type="checkbox" class="custom-control-input" id="storeCheckbox"
                               {% if auto_save %}checked{% endif %}>
                        <label style="color:#fff0ff;" class="custom-control-label" for="storeCheckbox">Auto save my
                            messages</label>
                    </div>
                </a>
                <a onclick="generate_secondary_key()" class="wishlist-border pt-2">
                    <span class="wishlist">Reset master key</span>
                </a>
            {% endif %}
        </div>
        <div id="save_message_loader" style="margin-top: 20px; display: none;"
             class="reverse-spinner"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" style="background-color: #1f1f1f">
            <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                <!-- File input for image -->
                <form id="profile_form" method="post" enctype="multipart/form-data">
                    <label id="image_input_label" for="imageInput" class="btn btn-primary"
                           style="background: #FFFFFF; width: 80px; height: 80px; display: flex; align-items: center; justify-content: center; border-radius: 50%; cursor: pointer;">
                        <i class="fas fa-plus" id="{{ widget.id_for_label }}_Icon"
                           style="font-size: 40px; color: #d9d9d9"></i>
                    </label>
                    <input type="file" name="{{ form.image.name }}" accept="{{ form.image.field.widget.attrs.accept }}"
                           id="{{ form.image.id_for_label }}" class="{{ form.image.field.widget.attrs.class }}"
                           style="{{ form.image.field.widget.attrs.style }}"
                           onchange="{{ form.image.field.widget.attrs.onchange }}">
                </form>

                <img id="selectedImage" src="" alt="Selected Image"
                     style="display: none; max-width: 50%; max-height: 50%;">

            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #1f1f1f; border: 1px solid #9a9a9a"
                        class="btn btn-primary" onclick="update_profile()" data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit_profile_modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #1f1f1f">
            <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                <div class="form-group">
                    <label for="exampleInputEmail1">Your name</label>
                    {% if fullname %}
                        <input type="text" class="form-control" id="input_name" aria-describedby="nameHelp"
                               placeholder="Enter your name" value="{{ fullname }}">
                    {% else %}
                        <input type="text" class="form-control" id="input_name" aria-describedby="nameHelp"
                               placeholder="Enter your name" value="Not available">
                    {% endif %}
                    <small id="emailHelp" class="form-text text-muted">This is your full name</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #1f1f1f; border: 1px solid #9a9a9a"
                        class="btn btn-primary" onclick="update_name()" data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>

<script src="{% static 'chat/js/main_secondary.js' %}"></script>
<script src="{% static 'chat/js/utils.js' %}"></script>
<script src="{% static 'chat/js/ratchet-v'|add:ASSET_VERSION_RATCHET|add:'.js' %}"></script>

<script>
    let saveMessageLoader = document.getElementById("save_message_loader");

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            endPreloader();
        }, 1000);
        var storeCheckbox = document.getElementById("storeCheckbox");

        if (storeCheckbox) {
            storeCheckbox.addEventListener("change", function () {
                // Call your function when the checkbox state changes
                handleCheckboxChange();
            });
        }
    });

    function startPreloader() {
        let preloader = document.getElementById("preloader");
        let content = document.getElementById("content");
        preloader.style.display = "flex";
        content.style.display = "none";
    }

    function endPreloader() {
        let preloader = document.getElementById("preloader");
        let content = document.getElementById("content");
        preloader.style.display = "none";
        content.style.display = "flex";
    }

    function updateImageLabelIcon(input) {
        const label = document.getElementById('image_input_label');
        const selectedImage = document.getElementById('selectedImage');

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);

            // Show the selected image and hide the label and input
            label.style.display = 'none';
            selectedImage.style.display = 'block';
        } else {
            // No file selected, show the label and hide the input and image
            label.style.display = 'flex';
            selectedImage.style.display = 'none';
        }
    }

    function update_profile() {
        if ('{{ request.user.username }}' === '{{ username }}') {
            saveMessageLoader.style.display = 'block';

            const label = document.getElementById('image_input_label');
            const selectedImage = document.getElementById('selectedImage');
            const input = document.getElementById('imageInput');

            // Create a FormData object and append the file to it
            var form = $("#profile_form")[0];
            var formData = new FormData(form);

            formData.append('image', input.files[0]);

            $.ajax({
                type: 'POST',
                url: '{% url "update_profile" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.success) {
                        selectedImage.src = '';
                        selectedImage.style.display = 'none';
                        label.style.display = 'flex';
                        var image = document.getElementById('profile_pic');
                        image.src = data.image_url;
                    } else {
                        console.log(data.error)
                        selectedImage.src = '';
                        selectedImage.style.display = 'none';
                        label.style.display = 'flex';
                    }
                    saveMessageLoader.style.display = 'none';
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    saveMessageLoader.style.display = 'none';
                }
            });
        }
    }

    function handleCheckboxChange() {
        // This function will be called when the checkbox state changes
        saveMessageLoader.style.display = 'block';

        let storeCheckbox = document.getElementById("storeCheckbox");
        const storeMessage = storeCheckbox.checked;

        $.ajax({
            type: 'POST',
            url: '{% url "update_profile_info" %}',
            data: JSON.stringify({
                'storeMessage': storeMessage,
            }),
            contentType: 'application/json',
            success: function (data) {
                console.log(data)
                if (data.success) {
                    saveMessageLoader.style.display = 'none';
                } else {
                    alert(data.error)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }

    function update_name() {
        let fullname = document.getElementById('fullname');
        let fullname_new = document.getElementById('input_name');
        let new_name = fullname_new.value.trim();
        saveMessageLoader.style.display = 'block';

        if (fullname.textContent === new_name) {
            return
        }

        $.ajax({
            type: 'POST',
            url: '{% url "update_profile_info" %}',
            data: JSON.stringify({
                'fullname': new_name,
            }),
            contentType: 'application/json',
            success: function (data) {
                console.log(data)
                if (data.success) {
                    fullname.textContent = new_name
                } else {
                    alert(data.error)
                }
                saveMessageLoader.style.display = 'none';
            },
            error: function (xhr, status, error) {
                console.error(error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }

    function clear_chat(username) {
        saveMessageLoader.style.display = 'block';

        $.ajax({
            type: 'POST',
            url: '{% url "clear_chat" %}',
            data: JSON.stringify({
                'username': username
            }),
            contentType: 'application/json',
            success: function (data) {
                if (data.success) {
                    let snap_ui_holder = document.getElementById('snap_ui_holder');
                    while (snap_ui_holder.firstChild) {
                        snap_ui_holder.removeChild(snap_ui_holder.firstChild);
                    }
                    let snap_notice = document.createElement('snap-notice');
                    snap_notice.textContent = 'No messages'
                    snap_ui_holder.append(snap_notice);
                } else {
                    console.log(data.error)
                }
                saveMessageLoader.style.display = 'none';
            },
            error: function (xhr, status, error) {
                console.error(error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }

    function remove_chat(username) {
        saveMessageLoader.style.display = 'block';
        $.ajax({
            type: 'POST',
            url: '{% url "remove_chat" %}',
            data: JSON.stringify({
                'username': username
            }),
            contentType: 'application/json',
            success: function (data) {
                if (data.success) {
                    let snap_ui_holder = document.getElementById('snap_ui_holder');
                    while (snap_ui_holder.firstChild) {
                        snap_ui_holder.removeChild(snap_ui_holder.firstChild);
                    }
                    let snap_notice = document.createElement('snap-notice');
                    snap_notice.textContent = 'No messages'
                    snap_ui_holder.append(snap_notice);
                    var buttonElement = document.querySelector('.add-friend-icon');
                    buttonElement.style.display = 'block';
                    buttonElement.innerText = 'Add';
                    buttonElement.setAttribute('data-status', 'False');
                    buttonElement.onclick = function () {
                        addFriend(username);
                    };

                } else {
                    console.log(data.error)
                }
                saveMessageLoader.style.display = 'none';
            },
            error: function (xhr, status, error) {
                console.error(error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }

    function addFriend(username) {
        var buttonElement = document.querySelector('.add-friend-icon');

        var statusAttribute = buttonElement.getAttribute('data-status');
        var status = statusAttribute === 'True';

        $.ajax({
            type: 'POST',
            url: '{% url "send_friend_request" %}',
            data: {'username': username, 'send_request': status},
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    if (response.request_status) {
                        buttonElement.innerText = 'Added';
                        buttonElement.setAttribute('data-status', 'True');
                    } else {
                        buttonElement.innerText = 'Add';
                        buttonElement.setAttribute('data-status', 'False');
                    }
                } else {
                    alert(response.error)
                }
            },
            error: function (response) {
                // Handle errors, e.g., show an error message
                alert(response.responseJSON.message);
            }
        });
    }

    function acceptRequest(username) {
        var buttonElement = document.querySelector('.add-friend-icon');

        $.ajax({
            type: 'POST',
            url: '{% url "accept_friend_request" %}',
            data: {'username': username},
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    buttonElement.style.display = 'none';
                    sessionStorage.setItem('return_from_add_person', 'true');
                } else {
                    alert(response.error);
                }
            },
            error: function (response) {
                // Handle errors, e.g., show an error message
                alert(response.responseJSON.message);
            }
        });
    }

    function generate_ratchet_keys(username) {
        saveMessageLoader.style.display = 'block';
        let device_id = getCookie('device_id');
        $.ajax({
            type: 'POST',
            url: '{% url "get_user_private_key_ratchet" %}',
            dataType: 'json',
            data: JSON.stringify({
                receiver_username: username,
                device_id: device_id
            }),
            success: function (response) {
                console.log(response);
                if (response.status === 'success') {
                    if (response.private_keys.type === 0) {
                        saveKeys_sender(response.room, response.private_keys.version, response.private_keys.ik_private_key, response.private_keys.ek_private_key, response.private_keys.dhratchet_private_key);
                    } else if (response.private_keys.type === 1) {
                        saveKeys_receiver(response.room, response.private_keys.version, response.private_keys.ik_private_key, response.private_keys.spk_private_key, response.private_keys.opk_private_key, response.private_keys.dhratchet_private_key)
                    }
                } else {
                    console.error('Error loading messages:', response.error);
                }
                saveMessageLoader.style.display = 'none';
            },
            error: function (error) {
                console.error('Error loading messages:', error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }

    function generate_secondary_key() {
        saveMessageLoader.style.display = 'block';
        let device_id = getCookie('device_id');
        $.ajax({
            type: 'POST',
            url: '{% url "get_user_private_key_secondary" %}',
            dataType: 'json',
            data: JSON.stringify({
                device_id: device_id
            }),
            success: function (response) {
                if (response.status === 'success') {
                    saveSecondaryKey(response.private_key);
                } else {
                    console.error('Error loading messages:', response.error);
                }
                saveMessageLoader.style.display = 'none';
            },
            error: function (error) {
                console.error('Error loading messages:', error);
                saveMessageLoader.style.display = 'none';
            }
        });
    }
</script>

<script>
    Pusher.logToConsole = false;

    var pusher = new Pusher('{{ pusher }}', {
        cluster: 'ap2'
    });
    let userUsername = '{{ request.user.username }}'
    var channel = pusher.subscribe(`${userUsername}-channel`);
    channel.bind(`${userUsername}-new-message`, function (data) {
        let buttonElement = document.querySelector('.add-friend-icon');
        if (data.type === 'friend_request_accepted') {
            buttonElement.style.display = 'none';
            sessionStorage.setItem('return_from_add_person', 'true');
        } else if (data.type === 'friend_request_added') {
            buttonElement.innerText = 'Accept';
            buttonElement.onclick = function () {
                acceptRequest(data.username);
            };
        } else if (data.type === 'remove_friend') {
            buttonElement.innerText = 'Add';
            buttonElement.setAttribute('data-status', 'False');
            buttonElement.style.display = 'block';
            buttonElement.onclick = function () {
                addFriend(data.username);
            };

            let snap_ui_holder = document.getElementById('snap_ui_holder');
            while (snap_ui_holder.firstChild) {
                snap_ui_holder.removeChild(snap_ui_holder.firstChild);
            }
            let snap_notice = document.createElement('snap-notice');
            snap_notice.textContent = 'No messages'
            snap_ui_holder.append(snap_notice);
        }
    });
</script>
</body>
</html>