{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'contact/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'contact/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'contact/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">

    <title>Message</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <style>
        .action_buttons {
            height: 30px;
            font-size: 14px;
            padding: 5px;
            align-items: center;
            align-content: center;
        }
    </style>
</head>

<body>

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <h3 class="mb-5">Message <span id="user_status" class="preview"
                                                       style="font-size: 14px; color: rgb(117, 117, 117);">Preview</span>
                        </h3>
                        <form action="" class="border-right pr-5 mb-5" method="POST" id="contactForm"
                              name="contactForm">
                            <div class="form-group">
                                <textarea class="form-control" id="chat-text" readonly rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Type a message" id="input" type="text">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary py-2 px-4" id="submit" type="button"
                                            style="background-color: #1C9963; color: #FFFFFF; border-color: #1C9963;">
                                        Send Message <i id="loading" class="fas fa-spinner fa-spin"
                                                        style="display: none;"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div id="form-messages"></div>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <h3 class="mb-4">Let's talk about everything.</h3>
                        <p>Why did the alien break up with the moon?</p>
                        <p>Because it was always spacey and never gave it enough atmosphere!</p>
                        <a href="{% url 'delete_messages' chat_box_name %}" class="btn btn-primary py-1 px-2 action_buttons" id="submit" type="button"
                           style="background-color: #1C9963; color: #FFFFFF; border-color: #1C9963;">Clear message</a>
                        <hr>
                        <!-- Bootstrap checkbox for storing messages -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="storeCheckbox" checked>
                            <label class="custom-control-label" for="storeCheckbox">Save Messages</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    var messages = {{ messages|safe }};
    const userUsername = "{{ request.user.username }}";
    document.addEventListener('DOMContentLoaded', function () {
        const chatText = document.querySelector('#chat-text');

        // Clear the existing content in case there are extra spaces
        chatText.value = '';

        // Loop through the messages and append them to the textarea
        messages.forEach(function (message) {
            // Determine if the message is sent or received based on the sender
            const messageType = message.sender__username === userUsername ? 'you' : '{{chat_box_name}}';

            // Display the message with the appropriate indicator
            document.querySelector('#chat-text').value += `${messageType}: ${message.message}\n`;
        });

        // Scroll to the bottom
        chatText.scrollTop = chatText.scrollHeight;
    });
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + `/ws/chat/?sender_username=${userUsername}&receiver_username={{ chat_box_name }}`
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.type === 'user_status') {
            // Handle user status update, for example, update a user list
            if (data.username === '{{ chat_box_name }}') {
                const user_status = document.querySelector('#user_status');
                user_status.innerHTML = `${data.username} is ${data.status}\n`;
            }
        } else {
            // Determine if the message is sent or received based on the sender
            const messageType = data.sender_username === userUsername ? 'you' : '{{ chat_box_name }}';

            // Display the message with the appropriate indicator
            document.querySelector('#chat-text').value += `${messageType}: ${data.message}\n`;

            // Scroll to the bottom
            const chatText = document.querySelector('#chat-text');
            chatText.scrollTop = chatText.scrollHeight;

            // Hide the loading icon after receiving a message
            const loadingIcon = document.getElementById('loading');
            loadingIcon.style.display = 'none';
        }
    }

    // Function to handle sending messages
    const sendMessage = function () {
        const messageInput = document.querySelector('#input');
        const message = messageInput.value.trim();

        if (message !== '') {
            $('#form-messages').hide();
            const loadingIcon = document.getElementById('loading');
            loadingIcon.style.display = 'inline-block';

            const storeCheckbox = document.getElementById('storeCheckbox');
    const storeMessage = storeCheckbox.checked;

            chatSocket.send(JSON.stringify({
                'message': message,
                'storeMessage': storeMessage,
            }));

            // Scroll to the bottom after sending a message
            const chatText = document.querySelector('#chat-text');
            chatText.scrollTop = chatText.scrollHeight;

            messageInput.value = '';
        } else {
            $('#form-messages').html('<div class="alert alert-danger" role="alert">' + "Please type a message" + '</div>');
        }
    }
    // Event listener for the "Send" button click
    document.querySelector('#submit').onclick = sendMessage;

    // Event listener for the Enter key press in the input field
    document.querySelector('#input').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            sendMessage();
            event.preventDefault(); // Prevents the default Enter key behavior (e.g., new line in textarea)
        }
    });

</script>
</body>
</html>