{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <meta name=description content="Simplify direct system communication with WebSocket. Connect and exchange data seamlessly across platforms."/>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EN0M7XSVZ9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-EN0M7XSVZ9');
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <title>Get started | Vocalhost</title>
    <meta name="description" content="Vocalhost api documentation">
    <meta name="author" content="vocalhost.reiserx.com">

    <!-- Stylesheet
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static '/docs/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/docs/vendor/font-awesome/css/all.min.css' %}"/>
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="{% static '/docs/vendor/magnific-popup/magnific-popup.min.css' %}"/>
    <!-- Highlight Syntax -->
    <link rel="stylesheet" type="text/css" href="{% static '/docs/vendor/highlight.js/styles/github.css' %}"/>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static '/docs/css/stylesheet.css' %}"/>
</head>

<body data-spy="scroll" data-target=".idocs-navigation" data-offset="125">

<!-- Preloader -->
<div class="preloader">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper -->
<div id="main-wrapper">
    <!-- Header -->
    <header id="header" class="sticky-top">
        <!-- Navbar -->
        <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
            <div class="container-fluid">
                <!-- Sidebar Toggler -->
                <button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span
                        class="w-75"></span><span class="w-50"></span></button>

                <!-- Logo -->
                <a class="logo ml-md-3" href="{% url 'home' %}" title="Vocalhost">
                    <img height="30" width="30" src="{% static '/img/logo.png' %}"
                         alt="Vocalhost"/>
                </a>
                <span class="Vocalhost" style="margin-left: 8px;">VOCALHOST</span>

                <!-- Logo End -->

                <!-- Navbar Toggler -->
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav">
                    <span></span><span></span><span></span>
                </button>

                <div id="header-nav" class="collapse navbar-collapse justify-content-end">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav">
                            <li><a href="{% url 'profile' %}">Account</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                            <li><a href="{% url 'login' %}">Account</a></li>
                        </ul>
                    {% endif %}
                    <ul class="navbar-nav">
                        <li><a href="https://reiserx.com/contact/">Support</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
    </header>
    <!-- Header End -->

    <!-- Content -->
    <div id="content" role="main">
        <!-- Sidebar Navigation -->
        <div class="idocs-navigation bg">
            <ul class="nav flex-column ">
                <li class="nav-item">
                    <a class="nav-link" href="#content">Vocalhost</a>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#main">About</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content">Getting Started</a>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#content">Installation</a></li>
                        <li class="nav-item"><a class="nav-link" href="#vocalhostreceiver">Vocalhost Receiver</a></li>
                        <li class="nav-item"><a class="nav-link" href="#vocalhostrequest">Vocalhost Request</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#content">Getting Started</a>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#api">API</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Docs Content -->
        <div class="idocs-content">
            <div class="container">
                <section id="main">
                    <h1>Vocalhost</h1>
                    <p>
                        Vocalhost is a communication solution that enables direct and reliable connections between
                        systems using WebSocket protocol. It comprises a bridge server and a client agent, offering
                        support for a wide range of languages, frameworks, and systems. This versatility allows for
                        seamless interaction and efficient data exchange across diverse environments.
                    </p>

                    <p>
                        The bridge server acts as a central hub, relaying real-time messages between connected systems
                        over WebSocket connections. The client agent establishes a WebSocket connection with the bridge
                        server, facilitating communication across various platforms.
                    </p>

                    <p>
                        Vocalhost simplifies system-to-system interaction, providing compatibility and ease of use
                        across different languages, frameworks, and systems. This promotes streamlined data exchange.
                    </p>
                </section>
                <section id="content">
                    <h1>Getting Started</h1>

                    <p>Vocalhost is a communication solution that enables direct and reliable connections between
                        systems using the WebSocket protocol. It consists of a bridge server and two client agents:
                        VocalhostReceiver and VocalhostRequest.</p>

                    <ol><li>Install the Vocalhost library:</li></ol>
                    <pre><code class="language-python">pip install vocalhost</code></pre>
                </section>

                <section id="vocalhostreceiver">
                    <h2>VocalhostReceiver</h2>

                    <p>The <code>VocalhostReceiver</code> client establishes a WebSocket connection with the bridge
                        server and keeps the connection open to receive incoming messages. It processes the received
                        messages and generates a response.</p>

                    <h3>Usage</h3>
                    <ol>
                        <li>Import the necessary modules:</li>
                    </ol>
                    <pre><code class="language-python">import vocalhost</code></pre>

                    <ol start="2">
                        <li>Pass your Vocalhost API key:</li>
                    </ol>

                    <pre><code class="language-python">vocalhost.API_KEY = API_KEY</code></pre>

                    <ol start="3">
                        <li>Define a function to process the received messages and generate a response:</li>
                    </ol>

                    <pre><code class="language-python">def process_message(message):
    # Process the received message and generate a response
    # Implement your custom logic here
    print("Received message from VocalhostRequest:", message)

    # Generate the response
    response = "This is the response from the VocalhostReceiver"
    return response</code></pre>

                    <ol start="4">
                        <li>Assign <code>process_message</code> function:
                        </li>
                    </ol>

                    <pre><code class="language-python">vocalhost.process_message = process_message</code></pre>

                    <ol start="5">
                        <li>Connect to the Vocalhost server:</li>
                    </ol>

                    <pre><code class="language-python">client_id = 'RECEIVER_ID_0R_NAME'
vocalhost.Receiver.connect(client_id=client_id)</code></pre>

                    <p>The <code>VocalhostReceiver</code> client will establish a WebSocket connection with the bridge
                        server and start listening for incoming messages. When a message is received, the <code>process_message</code>
                        function will be invoked to process the message and generate a response.</p>
                </section>

                <section id="vocalhostrequest">
                    <h2>VocalhostRequest</h2>

                    <p>The <code>VocalhostRequest</code> client is used to send HTTP POST requests to the Vocalhost
                        bridge server, which will forward the requests to the <code>VocalhostReceiver</code> client. The
                        <code>VocalhostReceiver</code> client will process the request, generate a response, and send it
                        back to the bridge server. The bridge server will then respond to the
                        <code>VocalhostRequest</code> client with the received response.</p>

                    <h3>Usage</h3>

                    <ol>
                        <li>Import the necessary modules:</li>
                    </ol>
                    <pre><code class="language-python">from vocalhost import Request</code></pre>

                    <ol start="2">
                        <li>Pass your Vocalhost API key:</li>
                    </ol>

                    <pre><code class="language-python">vocalhost.API_KEY = API_KEY</code></pre>

                    <ol start="3">
                        <li>Send data:</li>
                    </ol>

                    <pre><code class="language-python">message = 'How about a game of chess?'
response = vocalhost.Request.send(message, receiver_id=receiver_id)</code></pre>

                    <ol start="4">
                        <li>Process the response received from the Receiver:</li>
                    </ol>

                    <pre><code class="language-python">print(response.text)</code></pre>

                    <p>The <code>VocalhostRequest</code> client sends an HTTP POST request to the Vocalhost bridge
                        server, specifying the URL of the <code>VocalhostReceiver</code> client to connect to. The
                        bridge server will forward the request to the <code>VocalhostReceiver</code> client, which will
                        process the request and generate a response. The response will be sent back to the bridge
                        server, and the bridge server will respond to the <code>VocalhostRequest</code> client with the
                        received response.</p>

                    <p>Please note that you need to replace the example URLs and headers with the actual values
                        according to your setup.</p>

                    <p>With Vocalhost, you can streamline system communication by establishing WebSocket connections
                        between systems, enabling real-time message exchange and seamless interaction across different
                        languages, frameworks, and systems.</p>
                </section>

                <hr class="divider">

                <!-- Changelog -->
                <section id="api">
                    <h2>API</h2>
                    {% if user.is_authenticated %}
                        <p>Get Vocalhost API and Unlock Seamless, Direct, and Reliable System-to-System
                            Communication.</p>
                        <button class="btn btn-outline-primary" id="toggle-api">GET YOUR API</button>
                        <div id="api-content" style="display: none;">
                            <div class="api-container d-flex">
                                <div class="api-content-box bg-light p-3">
                                    <!-- Display the API content here -->
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <p class="m-0" id="api-text">This is the API content.</p>
                                        </div>
                                        <button class="btn btn-secondary btn-sm ml-2" id="copy-api"
                                                style="margin-left: 20px !important;">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- Render a message for anonymous users -->
                        <p>This section is only available to logged-in users. Please log in to access the API.</p>
                        <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'login' %}'">
                            LOGIN
                        </button>

                    {% endif %}

                </section>

                <hr class="divider">

                <!-- Changelog -->
                <section id="idocs_changelog">
                    <h2>Changelog</h2>
                    <p class="text-4">See what's new added, changed, fixed, improved or updated in the latest
                        versions.</p>
                    <p class="alert alert-info mb-5">For Future Updates Checkout <a target="_blank"
                                                                                    href="https://github.com/skzeeshan365/vocalhost">Github</a>
                    </p>

                    <h3 id="v1-2">Version 1.2</h3>
                    <ul class="changelog">
                        <li><span class="badge badge-success">Updated</span> Updated python client</li>
                        <li><span class="badge badge-success">Updated</span> Updated receiver connection</li>
                        <li><span class="badge badge-success">Updated</span> Security</li>
                    </ul>

                    <hr class="divider">

                    <h3 id="v1-1">Version 1.1</h3>
                    <ul class="changelog">
                        <li><span class="badge badge-success">Added</span> Clients Connected, available, busy</li>
                        <li><span class="badge badge-danger">Fixed</span> Fixed websocket connection timeout</li>
                        <li><span class="badge badge-danger">Fixed</span> Fixed client response timeout</li>
                        <li><span class="badge badge-info">Updated</span> Websocket connection</li>
                        <li><span class="badge badge-info">Updated</span> Receiver</li>
                    </ul>

                    <hr class="divider">

                    <h3 id="v1-0">Version 1.0</h3>
                    <p>Initial Release</p>
                </section>
            </div>
        </div>
    </div>
    <!-- Content end -->
</div>

<!-- Document Wrapper end -->

<!-- Back To Top -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript
============================ -->
<script src="{% static '/docs/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/docs/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Highlight JS -->
<script src="{% static '/docs/vendor/highlight.js/highlight.min.js' %}"></script>
<!-- Easing -->
<script src="{% static '/docs/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static '/docs/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Custom Script -->
<script src="{% static '/docs/js/theme.js' %}"></script>
<script>
    // Get the toggle button, API content, and copy button elements
    var toggleButton = document.getElementById('toggle-api');
    var apiContent = document.getElementById('api-content');
    var apiText = document.getElementById('api-text');
    var copyButton = document.getElementById('copy-api');

    // Hide the toggle button if the API content is displayed initially
    if (apiContent.style.display === 'block') {
        toggleButton.style.display = 'none';
    }

    // Toggle the visibility of the API content and hide the toggle button when clicked
    toggleButton.addEventListener('click', function () {
        if (apiContent.style.display === 'none') {
            // Make an AJAX request to retrieve the API content
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'get_api' %}', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var api = response.api_content;
                    apiText.innerText = api;
                    apiContent.style.display = 'block';
                    toggleButton.style.display = 'none';
                }
            };
            xhr.send();
        } else {
            apiContent.style.display = 'none';
        }
    });

    // Copy the API content to the clipboard
    copyButton.addEventListener('click', function () {
        var apiContentText = apiText.innerText;
        navigator.clipboard.writeText(apiContentText).then(function () {
            console.log('API content copied to clipboard');
            copyButton.innerHTML = '<i class="fas fa-check"></i>';
            copyButton.disabled = true;
        }, function (err) {
            console.error('Failed to copy API content: ', err);
        });
    });
</script>
</body>
</html>
